
<section class="card">
    <mat-card class="card-information right">
        <div class="card-item">
            <div class="card-text" *ngIf="despesaMes">
                <h1>{{ despesaMes.mes }}</h1>
                <span>Mês</span>
            </div>

            <div class="card-icon">
                <button mat-icon-button>
                    <mat-icon>today</mat-icon>
                </button>
            </div>
        </div>
    </mat-card>

    <mat-card class="card-information right">
        <div class="card-item">
            <div class="card-text" *ngIf="despesaAno">
                <h1>{{ despesaAno.ano }}</h1>
                <span class="card-ano">Ano</span>
            </div>

            <div class="card-icon">
                <button mat-icon-button>
                    <mat-icon>calendar_today</mat-icon>
                </button>
            </div>
        </div>
    </mat-card>

    <mat-card class="card-information">
        <div class="card-item">
            <div class="card-text">
                <h1>435</h1>
                <span>Suport</span>
            </div>

            <div class="card-icon">
                <button mat-icon-button>
                    <mat-icon>contact_support</mat-icon>
                </button>
            </div>
        </div>
    </mat-card>
</section>

